@import "variables";

@media only screen and (max-width:768px) {
    .mask,
    .colum,
    .oval-mb,
    .members,
    .customers,
    .project,
    .footer-mb {
        display: none;
    }

    .mask-mb,
    .colum-mb,
    .oval,
    .members-mb,
    .customers-mb,
    .project-mb,
    .footer {
        display: block;
    }

    .header {
        background : {
            size: cover;
            image: url(rectangle.png);
            repeat: no-repeat;
        }
        height: 425px;

        .hapo {
            margin-top: 22px;
            text-align: center;
            margin-bottom: 30px;

            img {
                height: 38px;
                width: 144px;
            }
        }  

        .sign {
            padding-right: 19px;
            
            .sign-in {
                padding: 7px 17px 7px 17px;
                margin-top: 19px;
            }
                  
        }
            .about {
                margin-top: -20px;
                letter-spacing: 1px;

                p {
                    font-size: 12px;
                    margin-bottom: -30px;
                    letter-spacing: 1px;
                }
            }
        
        .icon {
            font-size: 18px;  
            text-align: center;  
        }

        .word {
            font-size: 24px;
            font-weight: lighter;
        }

        .iteam {
            font-size: 24px; 
            padding: 0 60px 0 60px;
        }

        .titel {

            i {
                font-size: 14px;
                margin-top: 15px;
                letter-spacing: -0.03px;
            }
        }

        .start {
            box-shadow: 1px 1.5px 5px #888888;
            size: 2em;
            color: $white;
            margin-right: -1em;
            border-radius: 3em; 
            background-image: linear-gradient(to right ,$green,#b4ec51 );
            text-align: center;
            border: none;
            padding: 10px 28px 10px 28px;
            margin-top: -15px;
            margin-right: 10px;
            // margin-bottom: 20px;

            p {
                margin-top: 5px;
                font-size: 16px;
            }

            a {
                text-decoration: none;
                color: $white;
            }
        }

        .start {

            &:focus, &:active {
               outline: 0 !important;
               box-shadow: none;
            }
        }
    }

    .mask-mb {
        width: 100%;
        text-align: center;
        margin-top: 10px;   
        // box-shadow: 0 4px 8px #888888;
        box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.1);
        padding: 15px 30px;
           
        .today {
            font-size: 36px;
            font-weight: 100;
            padding-bottom: 15px;

            .magin {
                font-size: 30px;
                margin-right: 10px;

                p {
                    text-align: justify;
                    font-size: 36px;
                    text-align: center;
                }
            }
        }

        .size {
            font-size: 14px;
            text-align: center;
            padding-bottom: 22px;
        }

        .image {

            img {
                width: 100%;
            }
        }

        .right {
            text-align: justify;
            font-size: 13px;
            margin-top: -6px;
            line-height: 21px;
        }

        .start {
            box-shadow: 1px 1.5px 5px #888888;
            padding: 13px 28px 13px 28px;
            font-size: 16px;
            color: $white;
            border-radius: 25px; 
            background-image: linear-gradient(to right ,$green,#b4ec51 );
            margin: 20px 50px;
            text-align: center;
            border: none;

            a {
                text-decoration: none;
                color: $white;
            }
        }
    }

    .colum-mb {
        width: 100%;
        text-align: center;
        margin-top: 10px;
        padding: 15px 30px;

        .today {
            font-size: 36px;
            font-weight: 100;
            padding-bottom: 15px;

            .magin {
                font-size: 30px;
                margin-right: 10px;

                p {
                    text-align: justify;
                    font-size: 36px;
                    text-align: center;
                }
            }
        }

        .size {
            font-size: 14px;
            text-align: center;
            padding-bottom: 22px;
        }

        .left {
            text-align: justify;
            font-size: 13px;
            line-height: 21px;
        }

        .image {
            // text-align: right;
            // background: url(dailyReport.jpg) no-repeat;
            // background-size: 100% 100%;
            img {
                width: 100%;
            }
        }

        .start {
            box-shadow: 1px 1.5px 5px #888888;
            padding: 13px 28px 13px 28px;
            font-size: 16px;
            color: $white;
            border-radius: 25px; 
            background-image: linear-gradient(to right ,$green,#b4ec51 );
            text-align: center;
            margin: 20px 50px;
            border: none;

            &:focus, &:active {
                outline: 0 !important;
                box-shadow: none;
            }

            a {
                text-decoration: none;
                color: $white;
            }
        }
    }

    .members-mb {
        width: 100%;
        text-align: center;
        margin-top: 10px;
        padding: 15px 30px;
        box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.1);

        .today {
            font-size: 36px;
            font-weight: 100;
            padding-bottom: 15px;
        
            .magin {
                font-size: 30px;
                margin-right: 10px;
            }
        }

        .size {
            font-size: 14px;
            text-align: center;
            padding-bottom: 22px;
        }

        .left {
            text-align: justify;
            font-size: 13px;
            margin-top: 10px;
            line-height: 21px;
            
            .d-flex {
            overflow: hidden;
            max-height: 4.8em;
            }

            i {
                color: #8bc34a;  
                margin-right: 10px;
                font-size: 18px;
            }
        }

        .image {
            // text-align: right;
            // background: url(page1.png) no-repeat;
            // background-size: 100% 100%;   

            img {
                width: 100%;
            }
        }

        .start {
            box-shadow: 1px 1.5px 5px #888888;
            padding: 13px 28px 13px 28px;
            font-size: 16px;
            color: $white;
            border-radius: 25px; 
            background-image: linear-gradient(to right ,$green,#b4ec51 );
            text-align: center;
            border: none;
            margin: 20px 50px;

            &:focus, &:active {
                outline: 0 !important;
                box-shadow: none;
            }

            a {
                text-decoration: none;
                color: $white;
            }
        }
    }

    .customers-mb {
        width: 100%;
        text-align: center;
        margin-top: 10px;
        padding: 15px 30px;

        .today {
            font-size: 36px;
            font-weight: 100;
            padding-bottom: 15px;

            .magin {
                font-size: 30px;
                margin-right: 10px;

                p {
                    text-align: justify;
                    font-size: 36px;
                    text-align: center;
                }
            }
        }

        .size {
            font-size: 14px;
            text-align: center;
            padding-bottom: 22px;
        }
        
        .right {
            text-align: justify;
            font-size: 13px;
            margin-top: 10px;
            line-height: 21px;

            i {
                color: #8bc34a;  
                margin-right: 10px;
                font-size: 18px;
            }
        }

        .image {
            // text-align: right;
            // background: url(dailyReport.jpg) no-repeat;
            // background-size: 100% 100%;   
            // margin-top: 20px;

            img {
                width: 100%;
            }
        }

        .start {
            padding: 13px 28px 13px 28px;
            font-size: 16px;
            color: $white;
            border-radius: 25px; 
            background-image: linear-gradient(to right ,$green,#b4ec51 );
            margin: 20px 50px;
            text-align: center;
            border: none;

            &:focus, &:active {
                outline: 0 !important;
                box-shadow: none;
            }

            a {
                text-decoration: none;
                color: $white;
            }
        }
    }

    .project-mb {
        width: 100%;
        text-align: center;
        margin-top: 10px;
        padding: 15px 30px;

        .today {
            font-size: 36px;
            font-weight: 100;
            padding-bottom: 15px;

            .magin {
                font-size: 30px;
                margin-right: 10px;

                p {
                    text-align: justify;
                    font-size: 36px;
                    text-align: center;
                }
            }
        }

        .size {
            font-size: 14px;
            text-align: center;
            padding-bottom: 22px;
        }

        .text-title {
            text-align: justify;
            font-size: 13px;
            line-height: 21px;
        }  

        .image {
            // text-align: right;
            // background: url(dailyReport.jpg) no-repeat;
            // background-size: 100% 100%;

            img {
                width: 100%;
            }
        }
        
        .start {
            box-shadow: 1px 1.5px 5px #888888;
            font-size: 16px;
            color: $white;
            border-radius: 25px; 
            background-image: linear-gradient(to right ,$green,#b4ec51 );
            border-radius: 25px;  
            text-align: center; 
            padding: 13px 28px 13px 28px;
            margin: 20px 50px;
            border: none;
            &:focus, &:active {
                outline: 0 !important;
                box-shadow: none;
            }

            a {
                text-decoration: none;
                color: $white;
            }
        }
    }

    .our-customer { 
         padding: 30px 30px;    
         padding: 0px; 

        .our {
            color: $white;
            text-align: center;
            font-size: 36px;
            font-weight: 100;
        } 

        .designer {
            padding: 0 3%;
            padding-top: 5px;
            padding-bottom: 20px;
        } 

        .total {
            text-align: left;
            color: $white;
            padding: 0 5vw;
            height: 286px;
            // padding-top: 20px;
    

            div {
                font-size: 18px;
                padding-right: 0px;
            }

            i {
                font-size: 64px;
                color: gray;
            }
    
            p {
                line-height: 30px;
                color: $white;
                // opacity: 40%;
                color: $white;
                text-align: justify;
                font-weight: lighter;
                letter-spacing: -0.03pt
            }   

            .icon {
                padding-top: 150px;
            }
        }


    }

    .footer {
        width: 100%;
        background: #283238;
        margin-bottom: 10px;
        padding: 30px 30px;

        .row {
            padding: 30px;
        }

        .color {
            color: $light_green;

            span {
                font-size: 13px;
            }

            p {
                color: $white;
                font-size: 10px;

                a {
                    text-decoration: none;
                    color: $white;
                    line-height: 20px;
                }
            }

            img {
                width: 86px;
            }
        }

        .magin {
            margin-top: 40px; 

            .icon {
                font-size: 14px;
                color: $light_green;
                padding: 0 4px;
            }    
        }
    }

    .oval {
        padding: 66.5px 0;
        padding: 40px 3.3%;
        background-image: linear-gradient(to right ,$green,#b4ec51 );
    
    
        .circle {
            width: 100px;
            height: 100px;;
            border-radius: 100px;
            border: 2px solid $white;    
    
            .icon {          
                font-size: 36px;
                color: $white;
            }
        }
    
        .cle {
            box-sizing: border-box;
            height: 50px;
            width: 50px;
            border-radius:25px;
            border: 2px solid $white;
            background-color: #7CB342;
            text-align: center;
            color: $white;
            margin-top: -25px;
    
            span {
                font-size: 24px;
            }
        }
    
        p {
            color: $white;
        }
    }  
}  
@media only screen and (max-width:480px) {
    .mask,
    .colum,
    .oval,
    .members,
    .customers,
    .project,
    .customers-mb,
    .footer {
        display: none;
    }

    .mask-mb,
    .colum-mb,
    .oval-mb,
    .members-mb,
    .project-mb,
    .footer-mb {
        display: block;
    }

    .header {
        height: 300px;
        background-size: cover;
        background: url(rectangle.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;

        .hapo {
            text-align: center;

            img {
                height:26px;
                width: 96px;
                margin-top: -30px;
                margin-bottom: -3px;
            }
        }  

        .sign {

            .sign-in {
                padding: 9px 17px 9px 17px;
                border-radius: 34px;
            }
        }

        .about {
            margin-right: 20px;
            color: black;   

            p {
                font-size: 12px;
                letter-spacing: 1px;
            }
        }   

        .iteam {
            padding: 0 45px 0 45px;
        }    
        
        .icon {
            font-size: 24px;    
            text-align: center;  
            // margin-top: -50px;
        }

        .titel {

            i {
                font-size: 9px;
                margin-top: 10px;
                letter-spacing: -0.03px;
            }    
        }  

        .start {
            box-shadow: 1px 1.5px 5px #888888;
            padding: 10px 28px 11px 27px;
            size: 2em;
            color: $white;
            margin-right: -2px;
            border-radius: 3em; 
            background-image: linear-gradient(to right ,$green,#b4ec51 );
            text-align: center;
        }

        a {
            text-decoration: none;
            color: $white;
        }

        .start {

            &:focus, &:active {
               outline: 0 !important;
               box-shadow: none;
            }
        }
    }

    .mask-mb {
        width: 100%;
        text-align: center;
        padding: 20px 20px;
        
        .today {
            font-size: 24px;
            font-weight: 100;
            padding-bottom: 5px;

            .magin {
                font-size: 20px;
                margin-right: 10px;

                p {
                    text-align: justify center;
                    font-size: 24px;
                }
            }
        }
        
        .size {
            font-size: 13px;
            text-align: center;
            padding-bottom: 10px;
        }

        .image {

            img {
                width: 100%;
            }
        }

        .right {
            text-align: justify;
            font-size: 13px;

            p {
                margin-top: 20px;
                line-height: 21px;
            }
        }

        .start {
            box-shadow: 1px 1.5px 5px #888888;
            padding: 10px 28px 11px 27px;
            font-size: 16px;
            color: $white;
            border-radius: 25px; 
            background-image: linear-gradient(to right ,$green,#b4ec51);
            margin-top: 10px;
            text-align: center;
            margin: 20px 30px;

            a {
                text-decoration: none;
                color: $white;
            }
        }
    }

    .colum-mb {
        width: 100%;
        text-align: center;
        margin-top: 10px;
        padding: 20px 20px;

        .today {
            font-size: 24px;
            font-weight: 100;
            padding-bottom: 5px;

            .magin {
                font-size: 20px;
                margin-right: 10px;

                p {
                    text-align: justify;
                    font-size: 24px;
                    text-align: center;
                }
            }
        }

        .size {
            font-size: 13px;
            text-align: center;
            padding-bottom: 10px;
        }

        .left {
            text-align: justify;
            font-size: 13px;
            margin-top: 10px;
            line-height: 21px;
        }

        .image {

            img {
                width: 100%;
            }
        }

        .start {
            box-shadow: 1px 1.5px 5px #888888;
            padding: 10px 28px 11px 27px;
            font-size: 16px;
            color: $white;
            border-radius: 25px; 
            background-image: linear-gradient(to right ,$green,#b4ec51 );
            margin-top: 15px;
            text-align: center;
            margin: 20px 30px;

            a {
                text-decoration: none;
                color: $white;
            }
        }
    }

    .members-mb {
        width: 100%;
        text-align: center;
        margin-top: 10px;
        padding: 20px 20px;

        .today {
            font-size: 24px;
            font-weight: 100;
            padding-bottom: 5px;

            .magin {
                font-size: 20px;
                margin-right: 10px;
            }
        }

        .size {
            font-size: 13px;
            text-align: center;
            padding-bottom: 10px;

        }

        .left {
            text-align: justify;
            font-size: 13px;
            margin-top: 10px;
            line-height: 21px;
            
            .d-flex {
                overflow: hidden;
                max-height: 4.8em;
            }

            i {
                color: #8bc34a;  
                margin-right: 10px;
                font-size: 18px;
            }
        }

        .image {

            img {
                width: 100%;
            }
        }

        .start {
            box-shadow: 1px 1.5px 5px #888888;
            padding: 10px 28px 11px 27px;
            font-size: 16px;
            color: $white;
            border-radius: 25px; 
            background-image: linear-gradient(to right ,$green,#b4ec51 );
            text-align: center;
            margin: 30px 30px;

            a {
                text-decoration: none;
                color: $white;
            }
        }
    }

    .our-customer {  
        padding: 0px;
        
        .our {
            color: $white;
            text-align: center;
            font-size: 24px;
            font-weight: 100;
        } 

        .total {
            text-align: left;
            color: $white;
            flex-direction: column;
            padding: 0 5vw;
            height: 230px;

            div {
                font-size: 14px;
            }

            i {
                font-size: 48px;
                color: gray;
            }

            p {
                line-height: 25px;
                margin-bottom: 0px;
                padding-top: 0px;
                color: $white;
                color: $white;
                text-align: justify;
                font-weight: lighter;
                letter-spacing: -0.03pt
            }  

            .icon {
                padding-top: 0px;

                i {
                    margin-left: 8em;
                }
            }
        }

        .designer {
            padding: 0 4.28%;
            padding-top: 5px;
            padding-bottom: 20px;

            span {
                color: $white; 
                font-size: 13px;
                margin-left: 10px;
            }

            p {
                color: $white; 
                font-size: 10px;
                margin-left: 16px;
                margin-top: 0;
            }
        } 
    }

    .project-mb {
        width: 100%;
        text-align: center;
        padding: 10px 20px;

        .today {
            font-size: 24px;
            font-weight: 100;
            padding-bottom: 5px;
            
            .magin {
                font-size: 20px;
                margin-right: 10px;

                p {
                    text-align: justify;
                    font-size: 36px;
                    text-align: center;
                }
            }
        }

        .size {
            font-size: 13px;
            text-align: center;
            padding-bottom: 10px;
        }

        .right {
            text-align: justify;
            font-size: 13px;
        }

        .image {

            img {
                width: 100%;
            }
        }

        .start {
            box-shadow: 1px 1.5px 5px #888888;
            font-size: 16px;
            color: $white;
            border-radius: 25px; 
            background-image: linear-gradient(to right ,$green,#b4ec51 );
            border-radius: 25px;  
            text-align: center; 
            padding: 10px 28px 11px 27px;
            margin: 20px 30px;

            a {
                text-decoration: none;
                color: $white;
            }
        }
    }

    .footer-mb {
        width: 100%;
        background: #283238;
        margin-bottom: 10px;
        padding: 20px 20px;
        
        .row {
           padding: 30px;
        }

        .color {
            color: $light_green;

            span {
                font-size: 9px;
            }

            p {
                color: $white;
                font-size: 10px;

                a {
                    text-decoration: none;
                    color: $white;
                    line-height: 20px;
                }
            }

            img {
                width: 96px;
            }
        }

        .magin {
            margin-top: 50px; 

            i {
                color: $light_green;
                padding-left: 10px;
                margin-bottom: -30px;
            }
        }

        .copy {
            color: $white;
            font-size: 10px;
            margin-top: 50px;

            a {
                text-decoration: none;
                color: $white;
            }
        }
    }

    .oval-mb {
        padding: 40px 20px;
        background-image: linear-gradient(to right ,$green,#b4ec51 );

        .circle {
            width: 100px;
            height: 100px;;
            border-radius: 100px;
            border: 2px solid $white;    

            .icon {          
                font-size: 36px;
                color: $white;
            }
        }

        .cle {
            box-sizing: border-box;
            height: 50px;
            width: 50px;
            border-radius:25px;
            border: 2px solid $white;
            background-color: #7CB342;
            text-align: center;
            color: $white;
            margin-top: -25px;

            span {
                font-size: 24px;
            }
        }

        p {
            color: $white;
        }
        
        .carousel-indicators {
            margin-top: 0px;
            border-radius: 40px;
            margin-bottom: -10px;
            color: $white;

            .active {
                background-color: white;
            }

            li {
                width: 10px;
                height: 10px;
                border-radius: 100%;
                background-color: unset;
                border: 1px solid white;
                margin: 0 11px 0;
            }
        }
    }  
}   
