@media only screen and (max-width: 768px) {
  .mask,
  .colum,
  .oval-mb,
  .members,
  .customers,
  .project,
  .footer-mb {
    display: none; }

  .mask-mb,
  .colum-mb,
  .oval,
  .members-mb,
  .customers-mb,
  .project-mb,
  .footer {
    display: block; }

  .header {
    background-size: cover;
    background-image: url(rectangle.png);
    background-repeat: no-repeat;
    height: 425px; }
    .header .hapo {
      margin-top: 22px;
      text-align: center;
      margin-bottom: 30px; }
      .header .hapo img {
        height: 42px;
        width: 144px; }
    .header .sign {
      padding-right: 19px; }
      .header .sign .sign-in {
        padding: 7px 17px 7px 17px;
        margin-top: 19px; }
    .header .about {
      margin-top: -20px;
      letter-spacing: 1px; }
      .header .about p {
        font-size: 12px;
        margin-bottom: -30px;
        letter-spacing: 1px; }
    .header .icon {
      font-size: 18px;
      text-align: center; }
    .header .word {
      font-size: 24px; }
    .header .iteam {
      font-size: 24px;
      padding: 0 60px 0 60px; }
    .header .titel i {
      font-size: 14px;
      margin-top: 15px; }
    .header .start {
      size: 2em;
      color: white;
      margin-right: -1em;
      border-radius: 3em;
      background-image: linear-gradient(to right, #008000, #b4ec51);
      text-align: center;
      border: none;
      padding: 13px 28px 13px 27px;
      margin-top: -15px; }
      .header .start p {
        margin-top: 5px;
        font-size: 16px; }
      .header .start a {
        text-decoration: none;
        color: white; }
    .header .start:focus, .header .start:active {
      outline: 0 !important;
      box-shadow: none; }

  .mask-mb {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    box-shadow: 0 4px 8px #888888;
    padding: 50px 50px; }
    .mask-mb .today {
      font-size: 36px;
      font-weight: 100; }
      .mask-mb .today .magin {
        font-size: 30px;
        margin-right: 10px; }
        .mask-mb .today .magin p {
          text-align: justify;
          font-size: 36px;
          text-align: center; }
    .mask-mb .size {
      font-size: 14px;
      text-align: center; }
    .mask-mb .image {
      text-align: right;
      background: url(til.jpg) no-repeat;
      background-size: 100% 100%;
      width: 100%; }
    .mask-mb .right {
      text-align: justify;
      font-size: 13px;
      margin-top: -6px; }
    .mask-mb .start {
      padding: 13px 28px 13px 28px;
      font-size: 16px;
      color: white;
      border-radius: 25px;
      background-image: linear-gradient(to right, #008000, #b4ec51);
      margin-top: 20px;
      text-align: center;
      border: none; }
      .mask-mb .start a {
        text-decoration: none;
        color: white; }

  .colum-mb {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    padding: 50px 50px; }
    .colum-mb .today {
      font-size: 36px;
      font-weight: 100; }
      .colum-mb .today .magin {
        font-size: 30px;
        margin-right: 10px; }
        .colum-mb .today .magin p {
          text-align: justify;
          font-size: 36px;
          text-align: center; }
    .colum-mb .size {
      font-size: 14px;
      text-align: center; }
    .colum-mb .left {
      text-align: justify;
      font-size: 13px; }
    .colum-mb .image {
      text-align: right;
      background: url(dailyReport.jpg) no-repeat;
      background-size: 100% 100%; }
    .colum-mb .start {
      padding: 13px 28px 13px 28px;
      font-size: 16px;
      color: white;
      border-radius: 25px;
      background-image: linear-gradient(to right, #008000, #b4ec51);
      text-align: center;
      margin-bottom: 20px;
      border: none; }
      .colum-mb .start:focus, .colum-mb .start:active {
        outline: 0 !important;
        box-shadow: none; }
      .colum-mb .start a {
        text-decoration: none;
        color: white; }

  .members-mb {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    padding: 50px 50px; }
    .members-mb .today {
      font-size: 36px;
      font-weight: 100; }
      .members-mb .today .magin {
        font-size: 30px;
        margin-right: 10px; }
    .members-mb .size {
      font-size: 14px;
      text-align: center; }
    .members-mb .left {
      text-align: justify;
      font-size: 13px;
      margin-top: 10px; }
      .members-mb .left i {
        color: #008000;
        margin-right: 10px;
        font-size: 18px; }
    .members-mb .image {
      text-align: right;
      background: url(page1.png) no-repeat;
      background-size: 100% 100%; }
    .members-mb .start {
      padding: 13px 28px 13px 28px;
      font-size: 16px;
      color: white;
      border-radius: 25px;
      background-image: linear-gradient(to right, #008000, #b4ec51);
      text-align: center;
      border: none;
      margin-top: 40px; }
      .members-mb .start:focus, .members-mb .start:active {
        outline: 0 !important;
        box-shadow: none; }
      .members-mb .start a {
        text-decoration: none;
        color: white; }

  .customers-mb {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    padding: 50px 50px; }
    .customers-mb .today {
      font-size: 36px;
      font-weight: 100; }
      .customers-mb .today .magin {
        font-size: 30px;
        margin-right: 10px; }
        .customers-mb .today .magin p {
          text-align: justify;
          font-size: 36px;
          text-align: center; }
    .customers-mb .size {
      font-size: 14px;
      text-align: center; }
    .customers-mb .right {
      text-align: justify;
      font-size: 13px;
      margin-top: 10px; }
      .customers-mb .right i {
        color: #008000;
        margin-right: 10px;
        font-size: 18px; }
    .customers-mb .image {
      text-align: right;
      background: url(dailyReport.jpg) no-repeat;
      background-size: 100% 100%;
      margin-top: 20px; }
    .customers-mb .start {
      padding: 13px 28px 13px 28px;
      font-size: 16px;
      color: white;
      border-radius: 25px;
      background-image: linear-gradient(to right, #008000, #b4ec51);
      margin-bottom: 20px;
      text-align: center;
      border: none; }
      .customers-mb .start:focus, .customers-mb .start:active {
        outline: 0 !important;
        box-shadow: none; }
      .customers-mb .start a {
        text-decoration: none;
        color: white; }

  .project-mb {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    padding: 50px 50px; }
    .project-mb .today {
      font-size: 36px;
      font-weight: 100; }
      .project-mb .today .magin {
        font-size: 30px;
        margin-right: 10px; }
        .project-mb .today .magin p {
          text-align: justify;
          font-size: 36px;
          text-align: center; }
    .project-mb .size {
      font-size: 14px;
      text-align: center; }
    .project-mb .text-title {
      text-align: justify;
      font-size: 13px; }
    .project-mb .image {
      text-align: right;
      background: url(dailyReport.jpg) no-repeat;
      background-size: 100% 100%; }
    .project-mb .start {
      font-size: 16px;
      color: white;
      border-radius: 25px;
      background-image: linear-gradient(to right, #008000, #b4ec51);
      border-radius: 25px;
      text-align: center;
      padding: 13px 28px 13px 28px;
      margin-bottom: 40px;
      border: none;
      margin-top: 20px; }
      .project-mb .start:focus, .project-mb .start:active {
        outline: 0 !important;
        box-shadow: none; }
      .project-mb .start a {
        text-decoration: none;
        color: white; }

  .our-customer {
    padding: 50px 50px; }
    .our-customer .our {
      color: white;
      text-align: center;
      font-size: 36px;
      font-weight: 100; }
    .our-customer .designer {
      padding: 0 2%; }
    .our-customer .total {
      text-align: left;
      color: white; }
      .our-customer .total div {
        font-size: 18px;
        padding: 50px 5px 0px 10px; }
      .our-customer .total i {
        font-size: 64px;
        color: gray; }
      .our-customer .total .ti-quote-left {
        padding: 0 0 0 10px; }
      .our-customer .total .ti-quote-right {
        padding-top: 140px;
        padding-right: 0px; }
    .our-customer p {
      color: white;
      opacity: 40%;
      color: white;
      text-align: justify; }

  .footer {
    width: 100%;
    background: #283238;
    margin-bottom: 10px;
    padding: 30px 30px; }
    .footer .row {
      padding: 30px; }
    .footer .color {
      color: #8bc34a; }
      .footer .color span {
        font-size: 13px; }
      .footer .color p {
        color: white;
        font-size: 10px; }
      .footer .color img {
        width: 86px; }
    .footer .magin {
      margin-top: 40px; }
      .footer .magin .icon {
        font-size: 14px;
        color: #8bc34a; } }
@media only screen and (max-width: 480px) {
  .mask,
  .colum,
  .oval,
  .members,
  .customers,
  .project,
  .customers-mb,
  .footer {
    display: none; }

  .mask-mb,
  .colum-mb,
  .oval-mb,
  .members-mb,
  .project-mb,
  .footer-mb {
    display: block; }

  .header {
    height: 300px;
    background-size: cover;
    background: url(rectangle.png);
    background-size: 100% 100%;
    background-repeat: no-repeat; }
    .header .hapo {
      text-align: center; }
      .header .hapo img {
        height: 29px;
        width: 96px;
        margin-top: -30px;
        margin-bottom: -3px; }
    .header .sign .sign-in {
      padding: 9px 17px 9px 17px;
      border-radius: 34px; }
    .header .about {
      margin-right: 20px;
      color: black; }
      .header .about p {
        font-size: 12px;
        letter-spacing: 1px; }
    .header .iteam {
      padding: 0 45px 0 45px; }
    .header .icon {
      font-size: 24px;
      text-align: center; }
    .header .titel i {
      font-size: 9px;
      margin-top: 10px; }
    .header .start {
      padding: 10px 28px 11px 27px;
      size: 2em;
      color: white;
      margin-right: -2px;
      border-radius: 3em;
      background-image: linear-gradient(to right, #008000, #b4ec51);
      text-align: center; }
    .header a {
      text-decoration: none;
      color: white; }
    .header .start:focus, .header .start:active {
      outline: 0 !important;
      box-shadow: none; }

  .mask-mb {
    width: 100%;
    text-align: center;
    padding: 30px 30px; }
    .mask-mb .today {
      font-size: 24px;
      font-weight: 100; }
      .mask-mb .today .magin {
        font-size: 20px;
        margin-right: 10px; }
        .mask-mb .today .magin p {
          text-align: justify center;
          font-size: 24px; }
    .mask-mb .size {
      font-size: 13px;
      text-align: center; }
    .mask-mb .image {
      height: 308px;
      text-align: right;
      background: url(til.png) no-repeat; }
    .mask-mb .right {
      text-align: justify;
      font-size: 13px; }
      .mask-mb .right p {
        margin-top: 20px; }
    .mask-mb .start {
      padding: 10px 28px 11px 27px;
      font-size: 16px;
      color: white;
      border-radius: 25px;
      background-image: linear-gradient(to right, #008000, #b4ec51);
      margin-top: 10px;
      text-align: center; }
      .mask-mb .start a {
        text-decoration: none;
        color: white; }

  .colum-mb {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    padding: 30px 30px; }
    .colum-mb .today {
      font-size: 24px;
      font-weight: 100; }
      .colum-mb .today .magin {
        font-size: 20px;
        margin-right: 10px; }
        .colum-mb .today .magin p {
          text-align: justify;
          font-size: 24px;
          text-align: center; }
    .colum-mb .size {
      font-size: 13px;
      text-align: center; }
    .colum-mb .left {
      text-align: justify;
      font-size: 13px;
      margin-top: 10px; }
    .colum-mb .image {
      text-align: right;
      background: url(dailyReport.png) no-repeat;
      height: 292px;
      width: 100%;
      margin-top: 20px; }
    .colum-mb .start {
      padding: 10px 28px 11px 27px;
      font-size: 16px;
      color: white;
      border-radius: 25px;
      background-image: linear-gradient(to right, #008000, #b4ec51);
      margin-top: 15px;
      text-align: center; }
      .colum-mb .start a {
        text-decoration: none;
        color: white; }

  .members-mb {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    padding: 30px 30px; }
    .members-mb .today {
      font-size: 24px;
      font-weight: 100; }
      .members-mb .today .magin {
        font-size: 20px;
        margin-right: 10px; }
    .members-mb .size {
      font-size: 13px;
      text-align: center; }
    .members-mb .left {
      text-align: justify;
      font-size: 13px;
      margin-top: 10px; }
      .members-mb .left i {
        color: #008000;
        margin-right: 10px;
        font-size: 18px; }
    .members-mb .image {
      text-align: right;
      background: url(page1.png) no-repeat;
      height: 340px;
      background-size: 100% 100%;
      margin-bottom: 10px; }
    .members-mb .start {
      padding: 10px 28px 11px 27px;
      font-size: 16px;
      color: white;
      border-radius: 25px;
      background-image: linear-gradient(to right, #008000, #b4ec51);
      text-align: center;
      margin-bottom: 5px; }
      .members-mb .start a {
        text-decoration: none;
        color: white; }

  .our-customer .our {
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: 100; }
  .our-customer .total {
    text-align: left;
    color: white; }
    .our-customer .total div {
      font-size: 14px;
      padding: 0 5px 0px 10px; }
    .our-customer .total i {
      font-size: 48px;
      color: gray; }
    .our-customer .total .ti-quote-left {
      padding: 0 0 0 10px; }
    .our-customer .total .ti-quote-right {
      padding-top: 170px;
      padding-right: 0px; }
  .our-customer .designer {
    padding: 0 1%; }
    .our-customer .designer span {
      color: white;
      font-size: 13px;
      margin-left: 10px; }
    .our-customer .designer p {
      color: white;
      font-size: 10px;
      margin-left: 16px;
      margin-top: 0; }
  .our-customer p {
    color: white;
    opacity: 40%;
    color: white;
    text-align: justify;
    margin-top: 50px; }

  .project-mb {
    width: 100%;
    text-align: center;
    padding: 30px 20px; }
    .project-mb .today {
      font-size: 24px;
      font-weight: 100; }
      .project-mb .today .magin {
        font-size: 20px;
        margin-right: 10px; }
        .project-mb .today .magin p {
          text-align: justify;
          font-size: 36px;
          text-align: center; }
    .project-mb .size {
      font-size: 13px;
      text-align: center; }
    .project-mb .right {
      text-align: justify;
      font-size: 13px; }
    .project-mb .image {
      text-align: right;
      background: url(dailyReport.png) no-repeat;
      height: 298px;
      width: 100%;
      margin-top: 10px; }
    .project-mb .start {
      font-size: 16px;
      color: white;
      border-radius: 25px;
      background-image: linear-gradient(to right, #008000, #b4ec51);
      border-radius: 25px;
      text-align: center;
      padding: 10px 28px 11px 27px;
      margin-bottom: 40px; }
      .project-mb .start a {
        text-decoration: none;
        color: white; }

  .footer-mb {
    width: 100%;
    background: #283238;
    margin-bottom: 10px; }
    .footer-mb .row {
      padding: 30px; }
    .footer-mb .color {
      color: #8bc34a; }
      .footer-mb .color span {
        font-size: 9px; }
      .footer-mb .color p {
        color: white;
        font-size: 10px; }
      .footer-mb .color img {
        width: 96px; }
    .footer-mb .magin {
      margin-top: 50px; }
      .footer-mb .magin i {
        color: #8bc34a;
        padding-left: 10px;
        margin-bottom: -30px; }
    .footer-mb .copy {
      color: white;
      font-size: 10px;
      margin-top: 50px; }

  .oval-mb {
    padding: 30px 30px;
    background-image: linear-gradient(to right, #008000, #b4ec51); }
    .oval-mb .circle {
      width: 100px;
      height: 100px;
      border-radius: 100px;
      border: 2px solid white; }
      .oval-mb .circle .icon {
        font-size: 36px;
        color: white; }
    .oval-mb .cle {
      box-sizing: border-box;
      height: 50px;
      width: 50px;
      border-radius: 25px;
      border: 2px solid white;
      background-color: #7CB342;
      text-align: center;
      color: white;
      margin-top: -25px; }
      .oval-mb .cle span {
        font-size: 24px; }
    .oval-mb p {
      color: white; }
    .oval-mb .carousel-indicators {
      margin-top: 0px;
      border-radius: 40px;
      margin-bottom: -10px;
      color: white; }
      .oval-mb .carousel-indicators li {
        width: 2px;
        height: 2px;
        border-radius: 2px;
        border: 2px solid white; } }

/*# sourceMappingURL=responsive.css.map */
