html, body {
  overflow-x: hidden; }

.mask-mb,
.colum-mb,
.oval-mb,
.members-mb,
.project-mb,
.customers-mb,
.footer-mb {
  display: none; }

.header {
  background-size: cover;
  background-image: url(banner.jpg);
  background-repeat: no-repeat;
  height: 873px; }
  .header .sign {
    padding-right: 355px; }
    .header .sign .sign-in {
      margin-left: 5px;
      text-align: center;
      margin-top: 41px;
      color: #8bc34a;
      border: 2px solid #8bc34a;
      border-radius: 100px;
      font-size: 12px;
      padding: 8px 18px 8px 18px; }
      .header .sign .sign-in a {
        text-decoration: none;
        color: #8bc34a; }
  .header .about {
    margin-right: 10px;
    color: black; }
    .header .about p {
      font-size: 12px;
      margin-top: 50px;
      letter-spacing: 1px; }
  .header .hapo {
    text-align: center;
    color: #008000;
    margin-top: 155px;
    margin-bottom: 48px; }
    .header .hapo img {
      margin-left: 8px; }
  .header .icon {
    text-align: center; }
  .header .iteam {
    font-size: 48px;
    padding: 0 140px 0 140px; }
  .header .word {
    font-size: 36px;
    font-weight: lighter; }
  .header .titel i {
    font-size: 18px;
    margin-top: 48px;
    margin-bottom: 34px;
    letter-spacing: -0.03px; }
  .header .start {
    box-shadow: 1px 1.5px 5px #888888;
    size: 2em;
    color: white;
    border-radius: 3em;
    background-image: linear-gradient(to right, #008000, #b4ec51);
    text-align: center;
    outline: none;
    border: none;
    margin-top: 20px;
    padding: 15px 48px 14px 48px; }
    .header .start p {
      margin-top: 5px;
      font-size: 16px; }
    .header .start a {
      text-decoration: none;
      color: white; }
  .header .btn:focus, .header .btn:active {
    outline: 0 !important;
    box-shadow: none; }

.mask {
  padding: 0 20.3%;
  width: 100%;
  height: 571px;
  padding-top: 80px;
  box-shadow: 0 4px 8px #888888; }
  .mask .left img {
    margin-top: 2em;
    width: 100%; }
  .mask .start {
    box-shadow: 1px 1.5px 5px #888888;
    padding: 15px 48px 14px 48px;
    font-size: 16px;
    color: white;
    border-radius: 25px;
    background-image: linear-gradient(to right, #008000, #b4ec51);
    text-align: center;
    border: none; }
    .mask .start:focus, .mask .start:active {
      outline: 0 !important;
      box-shadow: none; }
    .mask .start a {
      text-decoration: none;
      color: white; }
  .mask .right {
    width: 100%;
    margin-top: 15px;
    text-align: justify; }
    .mask .right .size {
      font-size: 14px; }
    .mask .right .size2 {
      font-size: 13px;
      padding-bottom: 30px;
      line-height: 24px;
      letter-spacing: 0px; }
    .mask .right .today {
      font-size: 48px;
      font-weight: 100; }
      .mask .right .today .magin {
        margin-right: 10px;
        font-size: 36px; }
        .mask .right .today .magin p {
          font-size: 48px;
          font-weight: 100; }

.colum {
  padding: 0 20.3%;
  width: 100%;
  height: 571px;
  padding-top: 100px; }
  .colum .left {
    width: 50%;
    text-align: left;
    padding-left: 30px;
    text-align: justify; }
    .colum .left .today {
      font-size: 48px;
      font-weight: 100; }
      .colum .left .today .magin {
        margin-right: 10px;
        font-size: 36px; }
        .colum .left .today .magin p {
          font-size: 48px; }
    .colum .left .size {
      font-size: 14px; }
    .colum .left .size2 {
      font-size: 13px;
      padding-bottom: 15px;
      line-height: 24px; }
  .colum .start {
    box-shadow: 1px 1.5px 5px #888888;
    padding: 15px 48px 14px 48px;
    font-size: 16px;
    color: white;
    border-radius: 25px;
    background-image: linear-gradient(to right, #008000, #b4ec51);
    text-align: center;
    border: none; }
    .colum .start:focus, .colum .start:active {
      outline: 0 !important;
      box-shadow: none; }
    .colum .start a {
      text-decoration: none;
      color: white; }
  .colum .right img {
    width: 100%; }

.oval {
  padding: 66.5px 0;
  padding: 30px 17.3%;
  background-image: linear-gradient(to right, #008000, #b4ec51); }
  .oval .circle {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 2px solid white; }
    .oval .circle .icon {
      font-size: 36px;
      color: white; }
  .oval .cle {
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: 2px solid white;
    background-color: #7CB342;
    text-align: center;
    color: white;
    margin-top: -25px; }
    .oval .cle span {
      font-size: 24px; }
  .oval p {
    color: white; }

.members {
  padding: 0 20.3%;
  width: 100%;
  height: 571px;
  padding-top: 50px;
  box-shadow: 0 4px 8px #888888; }
  .members .left {
    width: 50%;
    text-align: justify;
    box-shadow: gray; }
    .members .left .size {
      font-size: 14px; }
    .members .left .size2 {
      font-size: 13px;
      padding-bottom: 15px;
      line-height: 24px;
      overflow: hidden;
      max-height: 3.2em; }
      .members .left .size2 i {
        margin-top: 5px; }
    .members .left .today {
      font-size: 48px;
      font-weight: 100; }
      .members .left .today .magin {
        margin-right: 10px;
        font-size: 36px; }
        .members .left .today .magin p {
          font-size: 48px; }
    .members .left .ti-check-box {
      color: #8bc34a;
      margin-right: 19px;
      font-size: 18px; }
  .members .start {
    box-shadow: 1px 1.5px 5px #888888;
    padding: 15px 48px 14px 48px;
    font-size: 16px;
    color: white;
    border-radius: 25px;
    background-image: linear-gradient(to right, #008000, #b4ec51);
    text-align: center;
    border: none; }
    .members .start:focus, .members .start:active {
      outline: 0 !important;
      box-shadow: none; }
    .members .start a {
      text-decoration: none;
      color: white; }
  .members .right img {
    width: 100%; }

.customers {
  padding: 0 20.3%;
  width: 100%;
  height: 571px;
  padding-top: 50px; }
  .customers .left img {
    width: 100%;
    padding-top: 20px; }
  .customers .right {
    width: 50%;
    text-align: justify; }
    .customers .right .size {
      font-size: 14px; }
    .customers .right .size2 {
      font-size: 13px;
      line-height: 24px; }
      .customers .right .size2 i {
        font-size: 18px; }
    .customers .right .today {
      font-size: 48px;
      font-weight: 100; }
      .customers .right .today .magin {
        margin-right: 10px;
        font-size: 36px; }
        .customers .right .today .magin p {
          font-size: 48px; }
    .customers .right .icon {
      color: #8bc34a;
      margin-right: 19px;
      margin-top: 5px; }
    .customers .right .start {
      box-shadow: 1px 1.5px 5px #888888;
      padding: 15px 48px 14px 48px;
      font-size: 16px;
      color: white;
      border-radius: 25px;
      background-image: linear-gradient(to right, #008000, #b4ec51);
      text-align: center;
      border: none; }
      .customers .right .start:focus, .customers .right .start:active {
        outline: 0 !important;
        box-shadow: none; }
      .customers .right .start a {
        text-decoration: none;
        color: white; }

.our-customer {
  width: 100%;
  background: url(rectangle3.png) no-repeat; }
  .our-customer .our {
    color: white;
    text-align: center;
    font-size: 48px;
    font-weight: 100;
    padding: 40px; }
  .our-customer .carousel-indicators {
    margin-top: 0px;
    border-radius: 40px;
    margin-bottom: -10px;
    color: white; }
    .our-customer .carousel-indicators .active {
      background-color: white; }
    .our-customer .carousel-indicators li {
      width: 10px;
      height: 10px;
      border-radius: 100%;
      border: 1px solid white;
      margin: 0 11px 0;
      background-color: unset; }
  .our-customer .total {
    text-align: left;
    color: white;
    padding: 0 5vw;
    height: 286px; }
    .our-customer .total div {
      font-size: 18px;
      padding-right: 27px; }
    .our-customer .total i {
      font-size: 72px;
      color: gray; }
    .our-customer .total p {
      line-height: 30px;
      padding-top: 60px;
      color: white;
      text-align: justify;
      font-weight: lighter;
      letter-spacing: -0.03pt; }
    .our-customer .total .icon {
      padding-top: 120px; }
      .our-customer .total .icon i {
        margin-left: 0px; }
  .our-customer .designer {
    padding-bottom: 20px;
    padding-top: 5px; }
    .our-customer .designer img:hover {
      transform: scale(1.1, 1.1); }
    .our-customer .designer span {
      color: white;
      font-size: 13px;
      margin-left: 10px; }
    .our-customer .designer p {
      color: white;
      font-size: 10px;
      margin-left: 16px; }

.project {
  padding: 0 20.3%;
  width: 100%;
  height: 571px;
  padding-top: 50px; }
  .project .left {
    text-align: justify;
    width: 50%; }
    .project .left .today {
      font-size: 48px;
      font-weight: 100; }
      .project .left .today .magin {
        margin-right: 10px;
        font-size: 36px; }
        .project .left .today .magin p {
          font-size: 48px; }
    .project .left .size {
      font-size: 14px; }
    .project .left .size2 {
      font-size: 13px;
      padding-bottom: 15px;
      line-height: 24px; }
    .project .left .start {
      box-shadow: 1px 1.5px 5px #888888;
      padding: 15px 48px 14px 48px;
      font-size: 16px;
      color: white;
      border-radius: 25px;
      background-image: linear-gradient(to right, #008000, #b4ec51);
      text-align: center;
      border: none; }
      .project .left .start:focus, .project .left .start:active {
        outline: 0 !important;
        box-shadow: none; }
      .project .left .start a {
        text-decoration: none;
        color: white; }
  .project .right img {
    width: 100%; }

.footer {
  width: 100%;
  background: #283238;
  margin-bottom: 10px;
  padding: 30px 30px; }
  .footer .row {
    padding: 30px; }
  .footer .color {
    color: #8bc34a; }
    .footer .color span {
      font-size: 13px; }
    .footer .color p {
      color: white;
      font-size: 10px; }
      .footer .color p a {
        text-decoration: none;
        color: white;
        line-height: 24px; }
    .footer .color img {
      height: 29px;
      width: 96px; }
  .footer .magin {
    margin-top: 50px; }
    .footer .magin i {
      color: #8bc34a;
      padding-left: 10px;
      margin-bottom: -30px;
      padding: 0 10px; }

/*# sourceMappingURL=style.css.map */
