html,body {
    overflow-x: hidden;
}
@import "variables";
.mask-mb,
.colum-mb,
.oval-mb,
.members-mb,
.project-mb,
.customers-mb,
.footer-mb {
    display: none;
}

.header {

    background : {
        size: cover;
        image: url(banner.jpg);
        repeat: no-repeat;
    }
    height: 873px;

        .sign {
            padding-right: 355px;

            .sign-in {
                margin-left: 5px;
                text-align: center;
                margin-top: 41px;
                color: $light_green;
                border: 2px solid $light_green;  
                border-radius: 100px; 
                font-size: 12px;
                padding: 8px 18px 8px 18px;
                          
                a {
                    text-decoration: none;
                    color: $light_green;
                }
            }
        } 

        .about {
            margin-right: 10px;
            color: black;   

            p {
                font-size: 12px;
                margin-top: 50px;
                letter-spacing: 1px;
            }
        }   

    .hapo {
        text-align: center; 
        color: $green;
        margin-top: 155px;
        margin-bottom: 48px;

       img {
           margin-left: 8px;
        }
    }

    .icon {
        text-align: center;      
    }

    .iteam {
        font-size: 48px; 
        padding: 0 140px 0 140px;
    }

    .word {
        font-size: 36px;
        font-weight: lighter;
    }

    .titel {

        i {
            font-size: 18px;
            margin-top: 48px;
            margin-bottom: 34px;
            letter-spacing: -0.03px;
        }
    }

    .start {
        box-shadow: 1px 1.5px 5px #888888;
        size: 2em;
        color: $white;
        border-radius: 3em; 
        background-image: linear-gradient(to right ,$green,#b4ec51 );
        text-align: center;
        outline: none;
        border: none;
        margin-top: 20px;
        padding: 15px 48px 14px 48px;

        p {
            margin-top: 5px;
            font-size: 16px;
        }

        a {
            text-decoration: none;
            color: $white;
        }
    }

    .btn {

        &:focus, &:active {
           outline: 0 !important;
           box-shadow: none;
        }
    }
} 

.mask {
    padding: 0 20.3%;
    width: 100%;
    height: 571px;
    padding-top: 80px;
    box-shadow: 0 4px 8px #888888;

    .left {

        img {
            margin-top: 2em;
            width: 100%;
        }
    }

    .start {
        box-shadow: 1px 1.5px 5px #888888;
        padding: 15px 48px 14px 48px;
        font-size: 16px;
        color: $white;
        border-radius: 25px; 
        background-image: linear-gradient(to right ,$green,#b4ec51 );
        text-align: center;
        border: none;
       

        &:focus, &:active {
            outline: 0 !important;
            box-shadow: none;
        }
        a {
            text-decoration: none;
            color: $white;
        }
    } 

    .right {
        width: 100%;
        margin-top: 15px;
        text-align: justify;

        .size {
            font-size: 14px;
        }

        .size2 {
            font-size: 13px;
            padding-bottom: 30px;
            line-height: 24px;
            letter-spacing: 0px;
        }

        .today {
            font-size: 48px;
            font-weight: 100;

            .magin {
                margin-right: 10px;
                font-size: 36px;
            
                p {
                    font-size: 48px;
                    font-weight: 100;
                }
            }  
        }
    }  
}

.colum {
    padding: 0 20.3%;
    width: 100%;
    height: 571px;
    padding-top: 100px;

    .left {
        width: 50%;
        text-align: left;
        padding-left: 30px; 
        text-align: justify; 

        .today {
            font-size: 48px;
            font-weight: 100;
        
            .magin {
                margin-right: 10px;
                font-size: 36px;

                p {
                    font-size: 48px;
                }
            } 
        }

        .size {
            font-size: 14px;
        }

        .size2 {
            font-size: 13px;
            padding-bottom: 15px;
            line-height: 24px;
        }
    }

    .start {
        box-shadow: 1px 1.5px 5px #888888;
        padding: 15px 48px 14px 48px;
        font-size: 16px;
        color: $white;
        border-radius: 25px; 
        background-image: linear-gradient(to right ,$green,#b4ec51 );
        text-align: center;
        border: none;

        &:focus, &:active {
            outline: 0 !important;
            box-shadow: none;
        }

        a {
            text-decoration: none;
            color: $white;
        }
    } 

    .right {

        img {
            width: 100%;
        }
    }
}  

.oval {
    padding: 66.5px 0;
    padding: 30px 17.3%;
    background-image: linear-gradient(to right ,$green,#b4ec51 );


    .circle {
        width: 100px;
        height: 100px;;
        border-radius: 100px;
        border: 2px solid $white;    

        .icon {          
            font-size: 36px;
            color: $white;
        }
    }

    .cle {
        box-sizing: border-box;
        height: 50px;
        width: 50px;
        border-radius:25px;
        border: 2px solid $white;
        background-color: #7CB342;
        text-align: center;
        color: $white;
        margin-top: -25px;

        span {
            font-size: 24px;
        }
    }

    p {
        color: $white;
    }
}  

.members {
    padding: 0 20.3%;
    width: 100%;
    height: 571px;
    padding-top: 50px;
    box-shadow: 0 4px 8px #888888;

    .left {
        width: 50%;
        text-align: justify;
        box-shadow: gray;

        .size {
            font-size: 14px;
        }

        .size2 {
            font-size: 13px;
            padding-bottom: 15px;
            line-height: 24px;
            overflow: hidden;
            max-height: 3.2em;

            i {
                margin-top: 5px;
            }
        }

        .today {
            font-size: 48px;
            font-weight: 100;

            .magin {
                margin-right: 10px;
                font-size: 36px;

                p {
                    font-size: 48px;
                }
            }
        }

        .ti-check-box {
            color: #8bc34a;  
            margin-right: 19px;
            font-size: 18px;
        }
    }

    .start {
        box-shadow: 1px 1.5px 5px #888888;
        padding: 15px 48px 14px 48px;
        font-size: 16px;
        color: $white;
        border-radius: 25px; 
        background-image: linear-gradient(to right ,$green,#b4ec51 );
        text-align: center;
        border: none;

        &:focus, &:active {
            outline: 0 !important;
            box-shadow: none;
        }

        a {
            text-decoration: none;
            color: $white;
        }
    }

    .right {
  
        img {
            width: 100%;
        }
    }  
}    

.customers {
    padding: 0 20.3%;
    width: 100%;
    height: 571px;
    padding-top: 50px;

    .left {

        img {
            width: 100%;
            padding-top: 20px;
        }
    }

    .right {
        width: 50%;
        text-align: justify;

        .size {
            font-size: 14px;
        }

        .size2 {
            font-size: 13px;
            line-height: 24px;

            i {
                font-size: 18px;
            }
        }

        .today {
            font-size: 48px;
            font-weight: 100;

            .magin {
                margin-right: 10px;
                font-size: 36px;

                p {
                    font-size: 48px;
                }
            }
        }

        .icon {
            color: #8bc34a;
            margin-right: 19px;  
        }

        .start {
            box-shadow: 1px 1.5px 5px #888888;
            padding: 15px 48px 14px 48px;
            font-size: 16px;
            color: $white;
            border-radius: 25px; 
            background-image: linear-gradient(to right ,$green,#b4ec51 );
            text-align: center;
            border: none;
    
            &:focus, &:active {
                outline: 0 !important;
                box-shadow: none;
            }

            a {
                text-decoration: none;
                color: $white;
            }
        } 
    }
} 

.our-customer {
    width: 100%;
    background: url(rectangle3.png) no-repeat;

    .our {
        color: $white;
        text-align: center;
        font-size: 48px;
        font-weight: 100;
        padding: 40px;
    } 
    
    .carousel-indicators {
        margin-top: 0px;
        border-radius: 40px;
        margin-bottom: -10px;
        color: $white;

        .active {
            background-color: white;
        }

        li {
            width: 10px;
            height: 10px;
            border-radius: 100%;
             border: 1px solid white;
            margin: 0 11px 0;
            background-color: unset;       

        }
    }

    .total {
        text-align: left;
        color: $white;
        padding: 0 5vw;
        height: 286px;
        // padding-top: 20px;

        div {
            font-size: 18px;
            padding-right: 27px;
        }

        i {
            font-size: 72px;
            color: gray;
        }

        p {
            line-height: 30px;
            padding-top: 60px;
            color: $white;
            text-align: justify;
            font-weight: lighter;
            letter-spacing: -0.03pt
        }

        .icon {
            padding-top: 120px;
            
            i {
                margin-left: 0px;
            }
        }
    }


    .designer {
        padding-bottom: 20px;
        padding-top: 5px;

        img { 

            &:hover {
                transform: scale(1.1,1.1);
            }
        }

        span {
            color: $white; 
            font-size: 13px;
            margin-left: 10px;
        }

        p {
            color: $white; 
            font-size: 10px;
            margin-left: 16px;
        }
    }
}   

.project {
    padding: 0 20.3%;
    width: 100%;
    height: 571px;
    padding-top: 50px;

   .left {
       text-align: justify;
        width: 50%;
        // margin-top: 20px;

        .today {
            font-size: 48px;
            font-weight: 100;

            .magin {
                margin-right: 10px;
                font-size: 36px;

                p {
                    font-size: 48px;
                }
            }
        }

        .size {
            font-size: 14px;
        }

        .size2 {
            font-size: 13px;
            padding-bottom: 15px;
            line-height: 24px;
        }

        .start {
            box-shadow: 1px 1.5px 5px #888888;
            padding: 15px 48px 14px 48px;
            font-size: 16px;
            color: $white;
            border-radius: 25px; 
            background-image: linear-gradient(to right ,$green,#b4ec51 );
            text-align: center;
            border: none;
    
            &:focus, &:active {
                outline: 0 !important;
                box-shadow: none;
            }

            a {
                text-decoration: none;
                color: $white;
            }
        } 
    }

    .right {

        img {
            width: 100%;
        }
    }
}   

.footer {
    width: 100%;
    background: #283238;
    margin-bottom: 10px;
    padding: 30px 30px;

    .row {
     padding: 30px;
    }

    .color {
        color: $light_green;

        span {
            font-size: 13px;
        } 

        p {
            color: $white;
            font-size: 10px;

            a {
                text-decoration: none;
                color: $white;
                line-height: 24px;
            }
        }

        img {
            height: 29px;
            width: 96px;
        }
    }

    .magin {
        margin-top: 50px;  

        i {
            color: $light_green;
            padding-left: 10px;
            margin-bottom: -30px;
            padding: 0 10px;
        }
    }
}
