.mask-mb,
.colum-mb,
.oval-mb,
.members-mb,
.project-mb,
.customers-mb,
.footer-mb {
  display: none; }

.header {
  background-size: cover;
  background-image: url(banner.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 700px;
  outline: none; }
  .header .sign {
    padding-right: 36px; }
    .header .sign p {
      margin-left: 5px;
      text-align: center;
      margin-top: 20px;
      width: 82px;
      height: 36px;
      color: #8bc34a;
      border: 2px solid #8bc34a;
      border-radius: 100px;
      font-size: 12px;
      padding-top: 6px; }
  .header .about {
    margin-right: 10px;
    color: black; }
    .header .about p {
      font-size: 12px;
      margin-top: 20px;
      padding-top: 6px; }
  .header .hapo {
    text-align: center;
    color: #008000; }
    .header .hapo img {
      height: 77px;
      width: 256px;
      margin-left: 8px; }
  .header .icon {
    text-align: center; }
  .header .iteam {
    font-size: 48px;
    padding: 0 60px 0 60px; }
  .header .word {
    font-size: 36px; }
  .header .titel i {
    font-size: 18px; }
  .header .start {
    width: 192px;
    height: 50px;
    size: 2em;
    color: white;
    border-radius: 3em;
    background-image: linear-gradient(to right, green, #b4ec51);
    text-align: center;
    outline: none;
    border: none;
    margin-top: 10px; }
    .header .start p {
      margin-top: 5px;
      font-size: 16px; }
  .header .btn:focus, .header .btn:active {
    outline: 0 !important;
    box-shadow: none; }

.mask {
  width: 100%; }
  .mask .left {
    width: 100%;
    margin-top: 2em;
    background: url(til.png) no-repeat center; }
  .mask .btn {
    width: 195px;
    height: 50px;
    font-size: 16px;
    color: white;
    border-radius: 25px;
    background-image: linear-gradient(to right, green, #b4ec51);
    text-align: center;
    border: none; }
    .mask .btn:focus, .mask .btn:active {
      outline: 0 !important;
      box-shadow: none; }
  .mask .right {
    width: 50%;
    margin-top: 20px;
    text-align: justify; }
    .mask .right .size {
      font-size: 14px; }
    .mask .right .size2 {
      font-size: 13px; }
    .mask .right .today {
      font-size: 48px;
      font-weight: 100; }
      .mask .right .today .magin {
        margin-right: 10px;
        font-size: 36px; }
        .mask .right .today .magin p {
          font-size: 48px;
          font-weight: 100; }

.colum {
  width: 100%; }
  .colum .left {
    width: 50%;
    margin-top: 20px;
    text-align: left;
    padding-left: 30px;
    text-align: justify; }
    .colum .left .today {
      font-size: 48px;
      font-weight: 100; }
      .colum .left .today .magin {
        margin-right: 10px;
        font-size: 36px; }
        .colum .left .today .magin p {
          font-size: 48px; }
    .colum .left .size {
      font-size: 14px; }
    .colum .left .size2 {
      font-size: 13px; }
  .colum .btn {
    width: 195px;
    height: 50px;
    font-size: 16px;
    color: white;
    border-radius: 25px;
    background-image: linear-gradient(to right, green, #b4ec51);
    text-align: center;
    border: none; }
    .colum .btn:focus, .colum .btn:active {
      outline: 0 !important;
      box-shadow: none; }
  .colum .right {
    width: 50px;
    margin-top: 20px;
    background: url(dailyReport.png) no-repeat center; }

.oval {
  padding: 66.5px 0;
  background-image: linear-gradient(to right, green, #b4ec51); }
  .oval .circle {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 2px solid #FFFFFF; }
    .oval .circle .icon {
      font-size: 36px;
      color: #FFFFFF; }
  .oval .cle {
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: 2px solid #FFFFFF;
    background-color: #7CB342;
    text-align: center;
    color: #FFFFFF;
    margin-top: -25px; }
    .oval .cle span {
      font-size: 24px; }
  .oval p {
    color: #FFFFFF; }

.members {
  width: 100%; }
  .members .left {
    width: 50%;
    text-align: justify;
    padding-top: 50px;
    box-shadow: gray; }
    .members .left .size {
      font-size: 14px; }
    .members .left .size2 {
      font-size: 13px; }
    .members .left .today {
      font-size: 48px;
      font-weight: 100; }
      .members .left .today .magin {
        margin-right: 10px;
        font-size: 36px; }
        .members .left .today .magin p {
          font-size: 48px; }
    .members .left .ti-check-box {
      color: #008000;
      margin-right: 19px;
      font-size: 18px; }
  .members .btn {
    width: 195px;
    height: 50px;
    font-size: 16px;
    color: white;
    border-radius: 25px;
    background-image: linear-gradient(to right, green, #b4ec51);
    text-align: center;
    border: none; }
    .members .btn:focus, .members .btn:active {
      outline: 0 !important;
      box-shadow: none; }
  .members .right {
    width: 50%;
    padding-top: 50px;
    background: url(members.png) no-repeat center; }

.customers {
  width: 100%; }
  .customers .left {
    width: 50%;
    background: url(dailyReport.png) no-repeat center; }
  .customers .right {
    width: 50%;
    text-align: justify; }
    .customers .right .size {
      font-size: 14px; }
    .customers .right .size2 {
      font-size: 13px; }
      .customers .right .size2 i {
        font-size: 18px; }
    .customers .right .today {
      font-size: 48px;
      font-weight: 100; }
      .customers .right .today .magin {
        margin-right: 10px;
        font-size: 36px; }
        .customers .right .today .magin p {
          font-size: 48px; }
    .customers .right .icon {
      color: #008000;
      margin-right: 19px; }
    .customers .right .btn {
      width: 195px;
      height: 50px;
      font-size: 16px;
      color: white;
      border-radius: 25px;
      background-image: linear-gradient(to right, green, #b4ec51);
      text-align: center;
      border: none; }
      .customers .right .btn:focus, .customers .right .btn:active {
        outline: 0 !important;
        box-shadow: none; }

.our-customer {
  width: 100%;
  background: url(rectangle3.png) no-repeat; }
  .our-customer .our {
    color: white;
    text-align: center;
    font-size: 48px;
    font-weight: 100; }
  .our-customer .carousel-indicators {
    margin-top: 0px;
    border-radius: 40px;
    margin-bottom: -10px;
    color: white; }
    .our-customer .carousel-indicators li {
      width: 10px;
      height: 10px;
      -moz-border-radius: 50px;
      -webkit-border-radius: 50px;
      --border-radius: 50px;
      border-radius: 100px;
      border: 2px solid #FFFFFF; }
  .our-customer .total {
    text-align: left;
    color: white; }
    .our-customer .total div {
      font-size: 18px;
      padding: 50px 5px 0px 10px; }
    .our-customer .total i {
      font-size: 72px;
      color: white; }
      .our-customer .total i .ti-quote-left {
        padding-right: 50px;
        padding-top: 50px;
        padding-top: 0px; }
    .our-customer .total .ti-quote-right {
      padding-top: 66px;
      padding-right: 20px; }
  .our-customer .designer span {
    color: white;
    font-size: 13px;
    margin-left: 10px; }
  .our-customer .designer p {
    color: white;
    font-size: 10px;
    margin-left: 16px; }
  .our-customer p {
    color: white; }

.project {
  width: 100%; }
  .project .left {
    text-align: justify;
    width: 50%;
    margin-top: 20px; }
    .project .left .today {
      font-size: 48px;
      font-weight: 100; }
      .project .left .today .magin {
        margin-right: 10px;
        font-size: 36px; }
        .project .left .today .magin p {
          font-size: 48px; }
    .project .left .size {
      font-size: 14px; }
    .project .left .size2 {
      font-size: 13px; }
    .project .left .btn {
      width: 195px;
      height: 50px;
      font-size: 16px;
      color: white;
      border-radius: 25px;
      background-image: linear-gradient(to right, green, #b4ec51);
      text-align: center;
      border: none; }
      .project .left .btn:focus, .project .left .btn:active {
        outline: 0 !important;
        box-shadow: none; }
  .project .right {
    width: 50%;
    background: url(dailyReport.png) no-repeat center; }

.footer {
  width: 100%;
  background: #283238;
  margin-bottom: 10px; }
  .footer .row {
    padding: 30px; }
  .footer .color {
    color: #8bc34a; }
    .footer .color span {
      font-size: 16px; }
    .footer .color p {
      color: white;
      font-size: 16px; }
    .footer .color img {
      height: 29px;
      width: 96px; }
  .footer .magin {
    margin-top: 50px; }
    .footer .magin i {
      color: #8bc34a;
      padding-left: 10px;
      margin-bottom: -30px; }

/*# sourceMappingURL=style.css.map */
